.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

h2{
  padding-bottom:20px;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#portfolio{
  margin-top: 5px;
  text-align:center;
}

.results li{
  list-style-type:none ;
}

.results{
text-align:left;
}

.nopadding{
  padding: 2px !important;
  margin: 0 !important;
}

.stock-down{
  color:red;
  font-size:3rem;
}

.stock-up{
  color:green;
  font-size:3rem;
}

.stock-row{
  margin-bottom:30px;
}